.banner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.banner {
    width: 90%;
    cursor: pointer;
    transition: all .2s ease-in-out;

    .banner-img {
        width: 100%;
        border-radius: 15px;
        margin-bottom: 15px;
    }
}

.banner:hover {
    transform: scaleY(1.1);
}

@media screen and (min-width: 768px) {
    .banner-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        padding: 0 11% 3% 11%;
    }
        .banner {
            width: 90%;

        .banner-img {
            width: 100%;
            border-radius: 15px;
            padding: 2%;
        }
    }
}

@media screen and (min-width: 1200px) {
    
    .banner {
        width: 95%;

        .banner-img {
            border-radius: 25px;
        }
    }
}


