
.card-container {
    width: 100%;
    padding: 7% 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    width: 250px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    -webkit-box-shadow: 1px 3px 11px -8px rgba(82,82,82,1);
    -moz-box-shadow: 1px 3px 11px -8px rgba(82,82,82,1);
    box-shadow: 1px 3px 11px -8px rgba(82,82,82,1);
    margin-bottom: 15px;

    .card-header {
        padding: 25px 15px 25px 15px;
    }

    .card-body {
        padding: 25px 15px 25px 15px;
    }
}

.card:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -8px rgba(82,82,82,1);
    -moz-box-shadow: 1px 3px 11px -8px rgba(82,82,82,1);
    box-shadow: 1px 3px 11px -8px rgba(82,82,82,1);

    .card-title {
        color: #0057ff;
    }
}

@media screen and (min-width: 414px) {
    .card-container {
        padding: 7% 20%;
    }
}

@media screen and (min-width: 960px) {
    .card-container {
        padding: 3% 2%;
        width: 65%;
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    .card-container {
        padding: 3% 6%;
        width: 100%;
        flex-direction: row;
    }
}

@media screen and (min-width: 1400px) {
    .card-container {
        padding: 3% 12%;
        width: 100%;
    }
}

@media screen and (min-width: 1600px) {

    .container-title-section {
        margin-top: 30px;
    }

    .card-container {
        padding: 2% 20%;
    }

    .card {
        box-shadow: 0px 0px 0px 0px rgba(82,82,82,1);
    }

    .card:hover {
        -webkit-box-shadow: 1px 3px 11px -8px rgba(82,82,82,1);
        -moz-box-shadow: 1px 3px 11px -8px rgba(82,82,82,1);
        box-shadow: 1px 3px 11px -8px rgba(82,82,82,1);
    }
}
