
.footer-container {
    width: 100%;
    padding: 6% 8% 2% 6%;
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 29, 29)
}

.footer {
    width: 250px;
    margin-bottom: 15px;
    color: #000;

    .footer-header {
        .footer-title {
            font-size: 15px;
            color:  #dc5cbd;
        }
    }

    .footer-body {
        display: flex;
        flex-direction: column;
        .text-body {
            font-size: 13px;
            color: #fff;
            font-weight: 300;
        }
    }
}

.footer-copy {
    width: 100%;
    background-color: #131111;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 5% 0;

    .footer-copy-text {
        color: #fff;
        font-size: 12px;
        font-weight: 300;
    }
}

@media screen and (min-width: 1024px) {
    .footer-container {
        padding: 2% 3% 2% 3%;
        flex-direction: row;
    }

    .footer {
        width: 36%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer-body {
            display: flex;
            flex-direction: column;
            .text-body {
                font-size: 13px;
                color: #fff;
                font-weight: 300;
            }

            .text-body:hover {
                color: #0057ff;
                cursor: pointer;
            }
        }
    }

    .footer-copy {
        padding: 1% 0 1% 0;
    }
}