.nike-container {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #eeeeee;
}

.nike-sneaker {
    margin-top: 10rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.nike-sneaker img {
    width: 17rem;
    margin-left: -33px;
}

.nike-circle {
    width: 12rem;
    height: 12rem;
    background: linear-gradient(
        to right,
        #0057ff,
        #dc5cbd,
    );
    position: absolute;
    border-radius: 5%;
}

.nike-container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 3rem 2rem 2rem;

    .nike-title {
        color:#0057ff;
        font-size: 2rem;
    }

    .nike-text {
        color: #000;
        font-size: 0.8rem;
        font-weight: 300;
    }

    .nike-button-shop {
        width: 160px;
        outline: none;
        background: #dc5cbd;
        color: #fff;
        border-radius: 50px;
        padding: 0;
        border: none;
        margin-top: 20px;
        padding: 0.8rem;
        font-size: 15px;
    }

    .nike-button-shop:hover {
        background:#0057ff;
        transition: all 0.2s ease-out;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .nike-container {
        height: 55vh;        
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .nike-sneaker {
        width: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .nike-sneaker img {
        width: 17rem;
        margin-left: -33px;
    }

    .nike-circle {
        width: 12rem;
        height: 12rem;
        border-radius: 10%;
    }

    .nike-container-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 3rem 2rem 2rem;

        .nike-title {
            font-size: 2rem;
        }

        .nike-text {
            font-size: 0.8rem;
        }
    }
}

@media screen and (min-width: 1400px) {

    .nike-sneaker img {
        width: 25rem;
        margin-left: -67px;
    }

    .nike-circle {
        width: 18rem;
        height: 18rem;
    }

    .nike-container-info {
        padding: 2rem 9rem 2rem 2rem;

        .nike-title {
            font-size: 2.2rem;
        }

        .nike-text {
            font-size: 1rem;
        }
    }
}

@media screen and (min-width: 1600px) {

    .nike-sneaker img {
        width: 30rem;
        margin-left: -45px;
        margin-top: 25px;
    }

    .nike-circle {
        width: 24rem;
        height: 24rem;
    }

    .nike-container-info {
        padding: 2rem 15rem 2rem 2rem;

        .nike-title {
            font-size: 2.7rem;
            margin-bottom: 10px;
        }

        .nike-text {
            font-size: 1rem;
            margin-bottom: 10px;
        }
    }
}